.timer-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1px solid #9c9c9c;
}

.progress{
    height: 5px;
    transition-duration: 1s;
    width: 0;
    transition-timing-function: linear;
  
}